[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
djoser = "*"
dj-database-url = "*"
drf-nested-routers = "*"
psycopg2-binary = "*"
python-magic = "*"
whitenoise = "*"

[dev-packages]

[unix]
gunicorn = "*"

[windows]
python-magic-bin = "*"
waitress = "*"

[requires]
python_version = "3.13"
